/* ----------------------------------- */
/* CSS */

.button-31 {
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 100px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-31:hover,
.button-31:focus {
  opacity: 0.75;
}

.disabled {
  opacity: 0.5; /* Example: reduce opacity for a visual indication */
  cursor: not-allowed; /* Example: change cursor to not-allowed */
  /* Add more styles as needed to visually indicate a disabled state */
}
