.App-NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(218, 230, 230);
  z-index: 1;
}
.App-Home {
  margin-top: 6%;
  width: 100%;
  height: 860px;
  background-color: rgb(156, 229, 213);
}
.App-About {
  /* background-color: rgb(255, 230, 0); */
  width: 100%;
  height: 920px;
}

.App-Contact {
  margin-top: 5%;
  background-color: black;
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
}
.App-Contact-Content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social_contact {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
